@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{outline:none;}
ul,ol{list-style:none;}
body{background:#e8edf2;height:1000px;font-family:"ו";}
#container{width:960px;margin:0 auto;}
.logo{position:fixed;float:left;width:100px;height:100px;padding-top:50px;font-size:20px}
#main{width:710px;padding:0 50px 50px;float:right;border:1px solid #999999;border-top:none;background:#F6F6F6;line-height:30px;font-size:14px; margin-bottom:20px;}
h2{padding-top:40px;font-size:16px;}
table{border-collapse:collapse;}
td{padding-right:40px;}
.pl80{padding-left:80px;}
.work_left{width:600px;}
.work_right{width:100px;float:right;}
.works a{padding-right:20px;color:#0033CC;}
#footer{height:60px;clear:both;background:#666666;color:#FFFFFF;line-height:60px;}
#footer p{width:960px;margin:0 auto;}
#footer p a{color:#FFFFFF;padding-left:10px;}