@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul{list-style:none;} 
img{border:none;}
a{text-decoration:none;color:#000;outline:none;}
.clear{clear:both}
table{ border-collapse:collapse;}
body{font-family:"微软雅黑";font-size:12px;}
#top{background-image:url(../images/daohang_02.jpg);background-repeat:repeat-x;}    
.top_inner{width:980px;margin:0 auto;}
.huanying{height:30px;line-height:30px;}
.huanying_left{float:left;}
.huanying_right{float:right;}
.top_mian{height:60px; padding-top:20px; clear:both;}
.logo{height:53px;width:164px;float:left;}
.search{height:60px;width:424px;float:left;margin-left:118px;}
.search_dan{height:30px;width:420px;border:2px #CCC solid;}	
.search_txt{border:none;width:340px;height:30px;line-height:30px;padding-left:10px;color:#999;}
.search_btn{width:70px;height:30px;vertical-align:bottom;}
.search p{width:424px;text-align:center;padding-top:10px;}
.tel{float:right;height:21px;width:222px;background:url(../images/tel_12.png);}
#nav {background:url(../images/nav_13.jpg) bottom repeat-x;}
.nav_inner{
	width:980px;
	height:35px;
	margin:0 auto;
	position:relative;
}
#nav ul{background:url(../images/quanbu_bg_15.jpg) left no-repeat;height:35px;}
#nav li{float:left;padding-top:5px;height:30px;}
#nav a{padding:0 8px;font-size:15px;color:#FFF;line-height:30px; display:block; float:left;}
#nav a:hover{color:#FFF; background-color:#24303d;}
.quanbu{width:150px;padding-right:8px;}
#nav .quanbu a{display:block;width:134px;padding:0 0 0 16px;line-height:25px;}
#nav .quanbu a:hover{ background:none;}
#nav ul .shopping{float:right;padding:5px 0 0 0;background:url(../images/shopping_19.jpg) bottom no-repeat;}	
#nav ul .shopping a{width:110px;padding-left:35px;}
#nav ul .shopping a:hover{ background:none;}
.qb_yy{position:absolute;top:0;left:-6px;}




#gaikuang{width:980px; margin:0 auto;}
.gaikuang{
	padding:10px 0;
}
.mbx{;height:30px; width:970px; background:url(../images/xq_mbx_03.jpg) bottom no-repeat; padding-top:10px; line-height:30px; padding-left:10px;}
.gk_small{width:88px; height:318px; float:left; border:#CCC 1px solid;}
.jqzoom{height:318px; width:353px;border:#CCC 1px solid;float:left;}
.gaikuang_text{height:318px; width:520px; float:right;border:#CCC 1px solid;}
.fenxiang{width:438px; height:30px;border:#CCC 1px solid; clear:both;}
.gk_btn{margin:10px;}
.gk_xiao{margin:5px;}
.gk_xiao img{ width:76px; height:60px;border:#CCC 1px solid;}
.p1,.p2{font-size:18px; padding:0 0 10px 10px;}
.p2{ color:#0055b1;}
.p3{width:80px; float:left; text-align:right; font-size:15px;line-height:35px; padding-bottom:20px;}
.p4{ padding-left:5px; float:left; font-size:15px; line-height:35px; padding-bottom:20px;}
.buy{border:#0FF 1px solid; clear:both; background:#cde7fe;}
.shu{ padding:10px 20px;}
#shuliang{ display:block; width:20px; height:18px; float:left; text-align:center; font-size:12px; line-height:18px;}
#zi{ display:block; float:left; line-height:20px; font-size:12px;}
#main{width:980px; margin:0 auto; padding:10px 0;}
.endbuy{width:198px; float:left; border:#CCC 1px solid;}
.endbuy_p{ border-bottom:#CCC 1px solid; height:30px; line-height:30px; font-size:15px;background:#dfedfe;}
.endbuy p{ text-align:center;}
.endbuy div{ padding:5px 0;margin-bottom:10px; border-bottom:#999 1px dashed;}
.endbuy b{ color:#900;}
.xiangqing{ width:768px;margin-left:10px;border:#CCC 1px solid; float:left}
.xuanxiang{ border-bottom:2px solid #0376ff;}
.xiangqing a{ display:block; float:left;width:100px; margin-right:5px; height:28px; line-height:28px; text-align:center; font-size:15px; background:#dfedfe;}
.xiangqing p{font-size:15px; line-height:25px; color:#444;}
.xiangqing span{font-size:18px; line-height:30px; color:#009fcc; font-weight:bold;}
.img_1{width:317px;float:left;}
.txt_1{float:left;width:431px; padding:10px;}
.img_2{float:left;width:361px;}
.txt_2{float:left;width:377px;padding:10px}
.img_3{float:left;width:260px;}
.txt_3{float:left;width:488px;padding:10px}
.img_4{float:left;width:254px;}
.txt_4{float:left;width:494px;padding:10px}
.pai{padding-top:20px;}
.pai_m{padding:20px 45px;} 
.canshu tr{width:768px;}
.canshu td{ line-height:20px; font-size:15px; padding:5px 10px; border:#CCC 1px solid;}
.canshu th{ line-height:20px; font-size:15px; padding:5px 10px; border:#CCC 1px solid;}
.shengmin{ border:#CCC 1px solid; padding:10px; margin:10px 0;}

#foooter{width:980px;margin:0 auto; clear:both;}
.zhinan{width:945px;height:198px;border:#CCC 1px solid;padding-left:33px;}
.zhinan_1,.zhinan_2,.zhinan_3,.zhinan_4,.zhinan_5{padding:20px 30px 30px;width:125px;float:left;}
.zhinan_1{background:url(../images/icon_38.jpg) 35px 20px no-repeat;}
.zhinan_2{background:url(../images/icon_41.jpg) 35px 20px no-repeat;}
.zhinan_3{background:url(../images/icon_43.jpg) 35px 20px no-repeat;}
.zhinan_4{background:url(../images/icon_46.jpg) 35px 20px no-repeat;}
.zhinan_5{background:url(../images/icon_49.jpg) 35px 20px no-repeat;}
.zhinan dl{margin-left:30px;}
.zhinan dt{font-size:16px;color:#999;font-weight:bold;line-height:25px;}
.zhinan dd{color:#333;line-height:18px;border-left:#999 1px dotted;padding-left:10px;}
.foot p{line-height:25px;clear:both;text-align:center;color:#333;}
.dibiao{padding:5px 265px;}