@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
.clear{clear:both;}
ul,ol{list-style:none;}
a{color:#000;text-decoration:none;outline:none;}
a:hover,.serch_tex a{text-decoration:underline;}
img{border:none;}
table{border-collapse:collapse;}
/*浮动和定位*/
#header ul li a,#nav ul li a,.list_a_color,.banner li a,#goL,#goR,#show_con,#content_list,.box ul li font,.box ul li p a{display:block;}
.hide,.login,.top_nav_list,.hide,.show_con,.content_list{display:none;}
.pr,.top_nav .list{position:relative;left:0;top:0;}
.fl,.list,#header ul li,#nav li,.new li,.new_con li,.content ul li,.box ul li,.footer_nav li{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearfix:after{clear:both;content:"";display:block;height:0;overflow:hidden;visibility:hidden;}
.clearfix{display:inline-table;}
.clearfix{display: block;}
* + html .clearfix{min-height:1%;}
/*文字*/
body,#header,h3 a{font-family:Arial, Helvetica, sans-serif,"宋体";font-size:12px;}
#nav,.f14,h4,.main_top_ment a,.footer_map h3{font-size:14px;}
h2,h3,font,#footer .link_top{font-size:16px;}
h3,h3 a,h4,.main_top_right a:hover{color:#F00;}
#top p a,#top .list_a_color{color:#DCA547;}
#top,.list a,#top a:hover,#nav a,.box ul li p a,.link_top{color:#FFF;}
h3,#top,.serch_bg,#header,.serch_tex,.new_con{line-height:30px;}
.tc,h2,.list,.box ul li p a{text-align:center;}
.main_top_ment li,w140,.link_top{filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;_opacity:0.6;}
.w1200{width:1200px;margin:0 auto;padding:0;}
/*top*/
#top{background:url(../images/topnav_bg.gif) repeat-x;height:30px;}
#top p span,#top p a{padding:0 4px;}
#top .login{height:130px;padding:10px;position:absolute;left:170px;top:30px;z-index:10;border:3px #413028 dotted;background:#999}
#top .login_in{width:120px;margin-bottom:5px;}
.top_nav .list{z-index:10;width:80px;background:url(../images/top_li.jpg) no-repeat right 12px;}
.top_nav_list{position:absolute;left:0;top:30px;z-index:4;width:80px;background:#333;border:1px solid #999;border-top:none;}
.top_nav_list li{border-bottom:1px solid #999;padding-left:14px;text-align:left;}
.list_a_color:hover{background:url(../images/topnav_hover.gif) no-repeat 14px top;}
#w120{width:120px;}
#list_last{background:none;color:#900;} 
/*header-and-nav*/
#header{background:#c5ebf4 url(../images/hd.jpg) no-repeat 50% 0;}
#header .logo{padding-top:46px; font-size:14px;}
#header ul{width:41%;background:#CF0;margin-left:58%;}
#header ul li a{padding:0 20px;border:1px solid #CEFFFF;}
#header ul li a:hover{background:#FFF;}
#nav{background:url(../images/nav_bg.jpg) repeat-x;}
#nav ul li a{padding:10px 13px;}
#nav ul li a:hover,.index{background:red;}
/*main*/
.main_top_ment{position:absolute;left:0;top:0;z-index:200;width:179px;line-height:41px;border:1px solid #88FFFF;border-right:none;}
.main_top_ment h2{background:#E1FFFF;border-right:1px solid #88FFFF;height:36px;line-height:36px;}
.main_top_ment li{padding-left:20px;height:41px;position:relative;background:#E1FFFF;border-top:1px solid #88FFFF;border-right:1px solid #88FFFF;}
.main_top_right{width:1010px;padding:10px 0 20px 190px;}
	/*serch*/
.main_top_right .serch{width:478px;}
.main_top_right .serch_bg{width:460px;height:26px;padding-left:10px;border:2px solid #A6FFFF;color:#999;}
.main_top_right .serch_btn{ margin:0 0 0 -74px; vertical-align:top; height:30px;}
.main_top_right .serch_tex{width:510px;padding-left:20px;}
.main_top_right .serch_tex a,.main_top_right .serch_tex span{padding-left:20px;text-decoration:none;}
	/*banner广告图-大图-小图*/
.banner,#marquee,#marquee ul li{width:698px;height:278px;}
#marquee{width:698px;height:278px;overflow:hidden;}
#marquee ul li{float:left;}
#marquee ul li img{display:block;}
#marNav{position:absolute;right:5px;bottom:10px;}
#marNav li{float:left;margin:0 4px;width:16px;height:16px;background:#333;border:1px solid #FFF;cursor:pointer;line-height:16px;font-family:Arial;font-size:12px;color:#FFF;text-align:center;}
#marNav li.navOn {background:#FF6600;}
.banner{margin:10px 0;border:1px solid #CCC;}
.banner1{background:url(../images/banner_1.jpg) no-repeat;}
.banner2{background:url(../images/banner_1.jpg) no-repeat;}
.banner3{background:url(../images/banner_1.jpg) no-repeat;}
.banner4{background:url(../images/banner_1.jpg) no-repeat;}
.banner_smail{width:698px;height:114px;overflow:hidden; border:1px solid #CCCCCC; }
#marquee1{ width:700px; height:114px;overflow:hidden;}
#marquee1 ul{width:1400px;}
#marquee1 ul li{width:140px;height:114px; float:left;}
#goL1,#goR1{display:block;position:absolute;top:20%;z-index:20;font-size:50px;text-decoration:none;}
#goL1{left:0;}
#goR1{right:0;}
	/*公告*/
.main_top_right .w300{width:300px;margin-top:10px;}
.main_top_right .return{height:66px;border:1px solid #CCC;}
.main_top_right .new{margin:10px 0;padding:10px;height:120px;line-height:24px;border:1px solid #CCC; line-height:24px;}
.main_top_right .new li{width:44%;padding-left:6%; background:url(../images/li_bg_03.jpg) no-repeat 4px 10px;}
.main_top_right .new ul{width:278px;}
.main_top_right .new_con ul{width:298px;}
.main_top_right .new_con li{height:30px;}
.main_top_right .new_con li a{padding:0 10px;} 
.main_top_right .new_con .hide_con{width:298px;position:absolute;left:0;top:30px;z-index:-1;}
.main_top_right .new_con .active{background:#FFF;border:1px solid #CCC;border-bottom:none;}
.main_top_right .new_con .show_con{padding:10px; height:124px;border:1px solid #CCC;line-height:24px;}
.day_con{margin-top:40px;}
.day_con a:hover{color:#FF0000;}
.day_con .content{width:890px;}
.day_con .content h3 a{padding-left:20px;}
.day_con .content h3,.box h3{width:200px;}
.day_con .content h3 span,.box h3 a{margin-left:20px;}
.w140{width:140px;}
.day_con .content_list{display:none;width:890px;position:absolute;left:0;top:30px;border-top:1px solid #CCC;}
.day_con .content_list li{width:150px;height:230px;margin:10px 14px;overflow:hidden;} 
.day_con .content_list li p span{color:#F00;padding-right:10px;}
.day_con .content_list,.content_list li p{padding:10px 0;line-height:1.5em; }
.day_con .content_hover{width:30px;height:20px;margin:0 5px;padding:0 5px;font-size:20px;background:#F60;color:#FFF;}
.day_con .vendor{width:290px;padding:4px;border:1px solid #CCC;}
.day_con .vendor li{height:125px;overflow:hidden; padding:2px 0;}
  /*box*/
.box{margin-bottom:30px;line-height:2em;overflow:hidden;zoom:1;}
.box ul{ border-top:2px solid #F60;}
.box ul li{width:270px;border:1px solid #fff;border-top:none;padding:10px;margin-right:10px;}
.box ul .mr0,.footer_map .mr0{margin-right:0;}
.box ul li p font{color:#F00;font-weight:bold}
.box ul li p a{background:#F30;}
.box p{margin-top:5px;}
/*footer*/
#footer{width:100%;padding:30px 0 10px;border-top:1px dashed #999999;line-height:26px;}
#footer,#footer a{color:#666666;}
.footer_inner{width:950px;margin:0 auto;}
.footer_map{padding:0 0 20px 25px;margin-bottom:;overflow:hidden;zoom:1;}
.footer_map_list{padding:0 38px;text-align:left;}
.footer_nav{ margin:10px 0 0;padding-left:131px;}
.footer_nav li a,#footer p a{padding:0 10px;}
.link_top{padding:10px;position:absolute;right:0;bottom:50%;background:#333333;}
